* {
  font-weight: lighter;
}

.App {
  text-align: center;
}
.admin-box {
  max-width: 95%;

}
.back-ground {
  background-image: url('../public/trial.svg');
  max-width: 100%;
  max-height: 100%;
  background-position: 80%;
  background-repeat: no-repeat;
}
.signup {
  height: 60vmin;
  width: 60vmin;
  margin-bottom: 50%;
}
.pp {
  border-radius: 50%;
  height: 30vmin;
  width: 30vmin;
  margin-left: 10%;
}
.carImage {
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 5px;
}

.box {
  inline-size: 150vmin;
  margin: auto;
}

.btn {
  margin-right: 1vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

